body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

table {
    font-size: large;
}

.container {
    max-width: 700px;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td,
table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: #04AA6D; */
    color: white;
}


input[type=text], input[type=password], input[type=date], button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

table input[type=text], table input[type=date], table button {
    margin:0;
}

input[type=submit] {
    font-size: large;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit].glowing {
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
    0% {
        background-color: #4caf50;
        -webkit-box-shadow: 0 0 3px #4caf50;
    }

    50% {
        background-color: #6fbf72;
        -webkit-box-shadow: 0 0 10px #6fbf72;
    }

    100% {
        background-color: #4caf50;
        -webkit-box-shadow: 0 0 3px #4caf50;
    }
}

@-moz-keyframes glowing {
    0% {
        background-color: #4caf50;
        -moz-box-shadow: 0 0 3px #4caf50;
    }

    50% {
        background-color: #6fbf72;
        -moz-box-shadow: 0 0 40px #6fbf72;
    }

    100% {
        background-color: #4caf50;
        -moz-box-shadow: 0 0 3px #4caf50;
    }
}

@-o-keyframes glowing {
    0% {
        background-color: #4caf50;
        box-shadow: 0 0 3px #4caf50;
    }

    50% {
        background-color: #6fbf72;
        box-shadow: 0 0 40px #6fbf72;
    }

    100% {
        background-color: #4caf50;
        box-shadow: 0 0 3px #4caf50;
    }
}

@keyframes glowing {
    0% {
        background-color: #4caf50;
        box-shadow: 0 0 3px #4caf50;
    }

    50% {
        background-color: #6fbf72;
        box-shadow: 0 0 10px #6fbf72;
    }

    100% {
        background-color: #4caf50;
        box-shadow: 0 0 3px #4caf50;
    }
}
